button {
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    height: 100px;
    width: 200px;
    background-color: #096806;
    font-size: 20px;
    position: absolute;
}
li {
    font-size: 24px;
    font-weight: bold;
}
body {
    background-image: url(https://th.bing.com/th/id/OIP.TLadnrxQHijK_mWfJyjj5gAAAA?cb=iwp1&rs=1&pid=ImgDetMain);
}
.button {
    position: absolute;
    top: 1435px;
    left: 250px;
}
.button2 {
    position: absolute;
    top: 477px;
    left: 250px;
}
.button3 {
    position: absolute;
    top: 51px;
    left: 250px;
}
header {
    background-color: rgb(5, 144, 5);
}
.section {
    background-color: brown;
}