button {
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    height: 100px;
    width: 200px;
    background-color: #096806;
    font-size: 20px;
    position: absolute;
}
li {
    font-size: 24px;
    font-weight: bold;
}
body {
    background-image: url()
}
